.container{
  background-color: black;
}
.contact button{
  border:1px solid black;
  background-color:goldenrod;
}
.contentHeader{
  margin-left: 8%;
}
.contentHeader h1{
  color:white;
  font-size: 38px;
}
.content
.splitHeader{
  display:flex;
  justify-content: space-between;
  align-items: center;
  overflow:hidden;
}