.container{
  background-color: rgb(255, 251, 251);
  width: 70%;
  margin-left: 15%;
  justify-content: center;
  align-items: center;
  
}
.container h2{
  color: #0e0438;
  text-align: center;
  font-size: 37px;
}
.splitHeader{
  margin-top: 7%;
 
}
.questionSpit{
  /* background-color: #0e0438; */
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);


}
.questionSpit h1{
  color :#000;
}

.listItems{
  display: flex;
  justify-content: space-between;
  align-items: center;
}