.dashboardContainer{
  width:100%;
 
}
.sideBarHeaderContent{
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
  margin-left: 4%;
}
.sideBarHeaderContent ul li{
  display: inline-block;
  padding: 10px 10px;
  list-style: none;
}
.sideBarHeaderContent ul li a{
 text-decoration: none;
 color: black;
 font-size: 13px;
 font-weight: 400; 
}
.dashboardLogo .dashboardLogoText{
  color: black;
  font-size: 15px;
}
.secondDashboardNavLinks{
  display: flex;
  z-index: 1;
}

