.findworkcontainer {
  padding: 20px;
  background-color: #1548f1;
}

.jobslist {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.jobcard {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.jobcard h2 {
  font-size: 18px;
  color: #333;
}

.jobcard p {
  color: #666;
}
