  .container{
    max-width:100%;
    min-height: 100px;
  }
  .container h1{
    margin-left: 12%;
  }

  .inspiredContent{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 27px;
    gap: 20px;  
    overflow: hidden;
  }
  .getInspiredGridStyle{
    width:300px;
  }

  .inspiredContentGrid{
    grid-column: 5px;
    grid-template-columns: repeat(5px, 5px 5px);
    height: 235px;
  }
  .inspiredContentGrid h2{
    color: black;
  }
  @media (max-width:768px){
    .container{
      width: 550px;
    }
    .inspiredContent{
      display: block;
      padding: 15px 50px;
      grid-template-columns:50%;
      align-items: center;
    }
    .inspiredContentGrid h5{
      font-size:16px;
      margin-top:3%;
    }
    .container h1{
      font-size:20px;
      margin-top:10%;
      margin-right: 19%;
      left: 0;
      text-align: center;
    }
    .inspiredContentGrid {
      width: 90%;
      justify-items: center;
    }
    .getInspiredGridStyle{
     border-radius:10px 10px;
    }
  }
