.container{
  display: flex;
  width: 90%;
  height: 100vh;
  overflow: hidden;
  margin-top: 8%;
}
.rightSider{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 110px;
  /* background-color: darkblue; */
}
.firstCardContainer{
  border: 1px solid black;
  border-radius: 10px;
  height: 300px;
  width: 290px;
  padding: 8%;
  background: darkblue;
  transition: 1s;
}
.firstCardContainer:hover{
  background: rgb(11, 1, 54);
}
.firstCardContainer h1{
  max-width: 79%;
  color: white;
  font-size: 38px;
  line-height: 39px;
}
.firstCardContainer p{
  color: white;
}
.leftSider{
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}
.imageContainer .image{
  border-radius:10px ;
}

.rightSider .image{
  max-width: 500px;
  height: 80vh;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  padding:20px;
  border-radius:20px;
}
.leftSideGridContent{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  margin: auto;
  width: 670px;

}
.gridContent span{
  background:rgb(18, 82, 231);
  border: 1px solid;
  border-radius: 40px;
  padding: 5px 10px;
  color: white;
  margin-top: 10%;
}
.gridContent{
  box-shadow: 2px 2px 2px  rgba(0,0,0,0.3);
  padding: 10px 34px;
  height: 130px;
  width: 220px;
}
.gridContent h4{
  font-size: 18px;
}
