.container{
  width: 100%;
  box-shadow: 0px 0px 0px 1px rgb(0,0,0,0.2);
  max-height: 150px;
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.userProfile{
  display: flex;
  gap: 20px;
}
.userProfile li span{
  border: 2px solid rgb(9, 169, 9);
  border-radius: 40px;
  background-color: rgb(126, 127, 127);
  color: white;
  padding: 10px 13px;
}
 .input{
  padding: 13px 0;
  width: 480px;
  /* margin-right:35%; */
  /* margin-top: 10%; */
}
.userProfile li{
  list-style: none;
}
.userProfile li a{
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.button{
  background-color:  rgb(2, 2, 56);
  position: absolute;
  right: 33.5%;
  z-index: 10;
  border-radius: 5px;
  border: 1px solid;
  padding: 14px 0;
  width: 5%; 
} 